bs4
chromadb
docarray
faiss-cpu
google-api-core
google-auth
google-cloud-bigquery
ipykernel
langchain
langchain-community
langchainhub
langchain-openai
nest_asyncio
numpy
pandas
streamlit
openai
python-dotenv
praw
tavily-python
